@page "/Unauthorized"

@inject NavigationManager NavigationManager
<h3>Unauthorized</h3>

@code {

  
    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }

    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
        var user = (await AuthStat).User;
        if (!user.Identity.IsAuthenticated)
        {
            if (!NavigationManager.Uri.Contains("login"))
                NavigationManager.NavigateTo("login");
        }
    }
}
